@import 'lap-styles/component';

.toolbar-listeN1 {
  color: var(--on-primary);
  background-color: var(--on-primary);
  padding-left: 0;
}

.container-eye-listeN1 {
  color: var(--primary-900);
  background-color: var(--primary-400);
  height: 64px;
  width: 70px;
  border-bottom-right-radius: 40px;

  > button {
    align-self: center;
    width: 70px;
    height: 64px;
  }
}

.container-eye-listeN1-invisible {
  border-top-right-radius: 40px;
}

::ng-deep dsia-mat-data-table {
  width: 100%;

  .mat-header-row {
    background-color: var(--primary-900) !important;
  }

  div.mat-sort-header-arrow,
  div.mat-sort-header-stem {
    color: var(--on-primary) !important;
  }

  .mat-header-cell {
    color: var(--on-primary) !important;

    button.mat-sort-header-button {
      text-align: left;
    }
  }

  mat-row:nth-child(odd) {
    background-color: var(--primary-100);
  }

  mat-row:nth-child(even) {
    background-color: var(--background-light);
  }

  mat-row.selected {
    border-bottom-color: rgb(224 224 224) !important;
    border-right-width: 8px;
    border-right-color: var(--primary-100);
  }

  .row-selected {
    background: var(--primary-700) !important;

    .mat-cell,
    button {
      color: whitesmoke;
    }
  }

  .row-selected:hover {
    background: var(--primary-700) !important;

    .mat-cell,
    button {
      color: whitesmoke;
    }
  }

  .mat-header-cell {
    font-size: var(--th-font-size);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--primary-700);
    text-align: left;
  }

  .mat-cell {
    font-size: var(--td-font-size);
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--td-color);
    text-align: left;
  }

  .mat-column-details {
    button {
      color: #1aaae2 !important;
    }
  }

  .research-table-container {
    height: calc(100% - 55px);

    .research-table {
      height: 100%;

      mat-table {
        height: 100%;
      }
    }
  }

  mat-cell.sticky-right {
    .padding-cell {
      padding-right: 0;
    }
  }
}

cdk-virtual-scroll-viewport {
  height: 100%;
}

.table-content {
  height: 100%;
  ::ng-deep cdk-virtual-scroll-viewport {
    height: 100% !important;
  }
  margin-right: var(--padding);
  margin-left: var(--padding);
}

.button-group-detail {
  background-color: var(--primary-700);
  display: flex;

  .fleche-container {
    background-color: var(--primary-100);
    width: 48px;
    height: 48px;
    .fleche {
      background: var(--primary-700);
      width: 48px;
      height: 48px;
    }
  }

  ::ng-deep div.mat-button-ripple {
    display: none;
  }
}

.button-detail {
  align-self: center;
  z-index: 10;
}

.button-more {
  align-self: center;
  z-index: 10;
  height: 48px;
}

.fleche-open-detail {
  transform: rotate(45deg);
  margin-left: -15px;
}

.button-more-open-detail {
  height: 53px;

  .mat-icon {
    transform: rotate(-45deg);
  }
}

.title-listeN1-closed {
  position: absolute;
  top: 65px;
  transform: rotate(-90deg);
  font-family: var(--font-family);
  font-size: var(--titre-blocs-font-size);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-900);
  height: 215px;
  width: 260px;
}

button.mat-icon-button[color='primary']:hover:not([disabled]) {
  background-color: inherit !important;
}

.nb-result {
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  color: var(--header-dark);
  text-align: left;
  color: var(--primary-900);
  text-transform: lowercase;
  padding-left: var(--padding);
}

::ng-deep cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::ng-deep cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::ng-deep cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  background: var(--primary-700);
  border-radius: 10px;
}

::ng-deep cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--primary-900);
}

.hide-container-data-table {
  visibility: hidden;
}

.position-init-screen {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  justify-content: space-around;

  .container-init-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    .message-init-screen {
      text-align: center;
      padding-bottom: var(--padding);
      white-space: pre-wrap;
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
