@import 'lap-styles/component';

:host {
  .dsia-container {
    height: 100%;
    overflow-y: hidden;
  }

  ::ng-deep .mat-drawer-inner-container {
    background-color: white;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  ::ng-deep dsia-criteria {
    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: var(--input-color);
    }
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
      background-color: rgba(0, 0, 0, 0.42);
      height: 1px;
    }
  }

  .mat-drawer {
    box-shadow: none;
    display: block;
    width: 100%;
    resize: horizontal;
  }

  /** Page */
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--padding);
    flex-grow: 1;
    width: auto;
    height: calc(100% - 295px);

    ::ng-deep .mat-drawer-content {
      overflow: hidden;
    }
  }

  .sidenav-container {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: var(--background);
  }

  .sidenav-card {
    width: 100%;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0;
    padding-left: 0;
  }

  .right {
    height: 100%;
  }

  .left-sidenav {
    width: 50%;
    height: 100%;
    border-right: none;
    transition: all 0.2s linear;
    padding-right: calc(var(--padding) / 2);
    background-color: var(--background);
  }

  .listeN1-closed {
    width: 80px !important;
    resize: none;
    transition: all 0.2s linear;
  }

  .right-detail {
    padding-left: calc(var(--padding) / 2);
    background-color: var(--background);
  }

  ::ng-deep mat-drawer-content.right-detail-listeN1-open {
    margin-left: 50%;
  }

  .no-detail {
    width: 100% !important;
    transition: all 0.2s linear;
    resize: none;
    box-sizing: unset;
  }

  ::ng-deep mat-datepicker-toggle {
    .mat-button-wrapper {
      color: var(--icon-input-color);
    }
  }
}

::ng-deep table {
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: var(--padding) !important;
  }
}

::ng-deep div.mat-select-panel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::ng-deep div.mat-select-panel::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::ng-deep div.mat-select-panel::-webkit-scrollbar-thumb {
  background: var(--primary-700);
  border-radius: 10px;
}

::ng-deep div.mat-select-panel::-webkit-scrollbar-thumb:hover {
  background: var(--primary-900);
}

::ng-deep dsia-notification-footer {
  mat-panel-title,
  mat-panel-description {
    flex-grow: 1 !important;
  }
}

.margin-top-main {
  margin-top: 0 !important;
}

.main-display-none {
  display: none;
}
